language: ruby
script: 'rake bacon'
rvm:
  - 1.9.2
  - 1.9.3
  - jruby-19mode
  - rbx-19mode

notifications:
  email:
    - yorickpeterse@gmail.com
    - mf@rubyists.com

branches:
  only:
    - master
